*{
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}
header{
    background-color: #303030;
    color: #FFFFFF ;
    width: auto;
}
.titleHeader{
    font-size: 7vh;
    font-weight: 600;
    padding: 5vh 0 0 6vh;
}
.subHeader{
    font-size: 2.7vh;
    font-weight: 500;
    padding: 0 0 4vh 6.5vh;
}
section div {
    display: grid;
    grid-auto-flow: column;
    background: #F9F9F9;
    justify-content: space-around;
    padding: 5vh 0 5.5vh 0;
    text-decoration: none;
    list-style: none;
}
section div p {
    font-size: 3vh;
    font-style: normal;
    font-weight: 500;
}
article{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}
article div{
    font-size: 2vh;
    padding: 10vh 0 0 15vh;
    font-style: normal;
    font-weight: 300;
}
article div h2{
    padding: 0 0 2vh;

}
#imageArq{
    max-width: 250vh;
    padding: 10vh 0 15vh;
}
footer{
    background-color:#303030;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 4vh;
}
form{
    background-color:#303030;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
footer h2{
    font-size: 4vh;
    color: #FFF;
    font-style: normal;
    font-weight: 700;
}
#getName{
    width: 40vh;
    height: 3.5vh;
    border-radius: 1vh;
    background: #FFF;
    padding: 0 0 0 1vh;
    margin: 2vh 0 2vh;
}
#getEmail{
    width: 40vh;
    height: 3.5vh;
    border-radius: 1vh;
    background: #FFF;
    padding: 0 0 0 1vh;
    margin: 2vh 0 2vh;
}
#getBtn{
    width: 20vh;
    height: 3.5vh;
    border-radius: 1vh;
    margin: 2vh 0 2vh;
    border: none;
    background: #C07212;
    text-align: center;
    color: #FFF;
    font-weight: 500;
    cursor: pointer;
}
#getBtn:hover{
    background:#303030;
    text-align: center;
    color: #FFF;
    border: solid 0.3vh #C07212;
    scale: 1.1;
    transition-delay: 250ms;
} 

